.button-container {
    display: flex;
    gap: 10px;
  }
  
  .icon-button {
    width: 48px;
    height: 48px;
    padding: 6px;
    border: none;
    border-radius: 15%;
    background-color: #f3f4f6;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .icon-button:hover {
    background-color: #e5e7eb; 
  }
  
  .icon-image {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }
  